.s-input {
	width: 187px;
	height: 17px;
	text-align: center;
	margin-left: 10px;
}
.s2-input {
	width: 187px;
	height: 17px;
	text-align: center;
	margin-left: 15px;
}
.l-input {
	width: 187px;
	height: 55px;
	text-align: center;
	margin-left: 30px;
}
.l2-input {
	width: 187px;
	height: 55px;
	text-align: center;
	margin-left: 80px;
}
.btn {
	border: 3px solid grey;
	box-sizing: border-box;
	padding: 10px 20px;
	background-color: white;
	font-family: garamond;
	font-size: 19px;
	border-radius: 20px;
}
select {
	font-family: garamond;
	font-size: 20px;
	margin-left: 70px;
	width: 180px;
}
.newform {
	margin-left: 450px;
}
h6 {
	font-family: garamond;
	margin-left: 70px;
	font-size: 22px;
	height: 20px;
}
h1 {
	font-family: Snell Roundhand;
	font-size: 90px;
	text-align: center;
}
body {
	background-image: url("https://i.pinimg.com/originals/da/1e/0c/da1e0cf802e2971d11af610c6cf9f080.jpg");
	
	background-position: center;
	background-repeat: no-repeat, repeat;
  	background-color: #ffffff;
}