<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>My Recipes</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/recipes.css" th:href="@{../css/recipes.css}" />
</head>
<body>

	<h1>My Recipes edit-recipe</h1>
	
	<form class="newform" action="#" th:action="@{/newrecipe}" th:object=${recipe} method="post">
		<input type="hidden" th:field=${recipe.id}/>
		<h6>Recipe name: <input class="s2-input" type="text" th:field=${recipe.foodTitle} /> </h6>
		<h6>Cooking time: <input class="s-input" type="text" th:field=${recipe.time} /></h6>
		<h6>Ingredients: <input class="l-input" type="text" th:field=${recipe.ingredients} /></h6>
		<h6>Guide: <input class="l2-input" type="text" th:field=${recipe.guide} /></h6>
		<h6>Category: </h6><select id="categoryId" th:field="*{category}" class="option-input">
				<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}" ></option>
			</select>
			<br/>
		<input class="btn imput" type="submit" value="Submit" /><input class="btn imput2" type="reset" value="Reset" /><button class="btn imput2" ><a href="/recipes" class="btnback">Back to recipes</a></button>
	</form>
	

</body>
</html>