<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>My Recipes</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/recipes.css" th:href="@{css/recipes.css}" />
</head>
<body>

	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign out" class="signout"/>
					<p th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</p>
		</form>
	</div>

	<a href="/recipes" class="link">Go to recipes</a>

	<h1>My Recipes</h1>
	
	<table class="hometable">
		
		<tr th:each="category : ${categories}">
			<th class="cate" th:text="${category.categoryName}"></th>
		</tr>
	
	</table>

</body>
</html>