<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>My Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>My Recipes</h1>
	
	<form action="#" th:action="@{/newrecipe}" th:object=${recipe} method="post">
		
		<h6>Recipe name: <input type="text" th:field=${recipe.foodTitle} /> </h6>
		<h6>Cooking time: <input type="text" th:field=${recipe.time} /></h6>
		<h6>Ingredients: <input type="text" th:field=${recipe.ingredients} /></h6>
		<h6>Guide: <input type="text" th:field=${recipe.guide} /></h6>
		<h6>Category: </h6>
			<select id="categoryId" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}" ></option>
			</select>
		<input type="submit" value="Submit" /><input type="reset" value="Reset" />
	</form>
	
	<a href="/recipes" >Go back!</a>

</body>
</html>