<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>My Recipes</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/recipes.css" th:href="@{css/recipes.css}" media="only screen and (min-width:480px) and (max-width: 2500px)" />
<link type="text/css" rel="stylesheet" href="css/phonerecipes.css" th:href="@{css/recipes.css}" media="only screen and (min-width:0px) and (max-width: 480px)" />
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign out" class="signout"/>
					<p th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</p>
		</form>
	</div>
	<div>
		<h1>My best recipes!</h1>
	</div>
	
	<table class="table table-striped">
	
		<tr>
			<th><a href="/home" class="link">Home page</a></th>	
			<th sec:authorize="hasAuthority('ADMIN')"><a href="/newrecipe" class="link">Add New Recipe</a></th>
			<th></th>
			<th></th>
		</tr>
	
		<tr class="headers">
				<th>Food title</th>
				
				<th>Category</th>
				<th sec:authorize="hasRole('ADMIN')"> </th>
				<th sec:authorize="hasRole('ADMIN')"> </th>
				
			</tr>
		
		<tr class="data" th:each="recipe : ${recipes}">
			<td class="data1" th:text="${recipe.foodTitle}"></td>	
			<td class="data2" th:text="${recipe.category.categoryName}">category</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="delete" th:href="@{/deleterecipe/{id}(id=${recipe.id})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a  class="edit" th:href="@{/editrecipe/{id}(id=${recipe.id})}">Edit</a></td>
			<td><a class="see-btn" th:href="@{/recipe/{id}(id=${recipe.id})}">See recipe!</a></td>
			
		</tr>
			
	
	</table>
	
	
	

</body>
</html>